.header{
  text-align: center; 
  align-items: center;
  color: #fff;
  height: 75px;
  background-color: #65799B;
  line-height: 64px;
  padding-inline: 50px;
}
.header__image{
  position: absolute;
  left: 20px;
  top: 5px;
}
.content{
  text-align: center;
  line-height: 120px;
  background-color: #fff; 
}
.content__panels{
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  width: 100%;
  justify-content: center;
  align-items: start;
}




